<footer class="page-footer font-small bg-dark pt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-left">
                <img src="https://i.imgur.com/EobQwTB.png" alt="Imagem Gen.TI" width="100px" height="100px" class="img-fluid rounded-circle text-white">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="barra-opcoes">
                    <li>
                        <a class="text-light" target="_blank" href="link aqui">Home </a> 
                    </li>
                    <li>
                        <a class="text-light" target="_blank" href="link aqui">Sobre nós </a> 
                    </li>
                </ul>
            </div> 
        </div>
    </div>
      
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center" >
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/gustavogalli/projeto-integrador-g3-front-end" target="_blank" class="iconGitHub">
                            <i class="fa fa-github " aria-hidden="true"></i>

                        </a>
                    </li>
                </ul>
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
    </div>



    <div class="footer-copyright bg-secondary text-center py-3">
        <span class="text-light">  © 2022 Copyright: Grupo G3</span>     
    </div>
</footer>
