#img-bg{
    background-image: url(.../../../../assets/img/back.jpg);
    
    min-height: 838px;
    background-image: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
    
    a {
        color: rgb(0, 0, 0);
    text-decoration-line: none;  
    }
    
    .button {
    
        background-color: #ffffff;
        color: white;
    
    
    }