<div class="container-fluid">
    <div class="row d-flex align-items-center">


        <div class="col-md-6 mt-5" id="img-bg">

        </div>

        <div class="row d-flex justify-content-center">

            <div class="col-md-6">


                <h1 class="text-center mb-3">Entrar</h1>

                <div class="form-group">
                    <label for="Usuario">Usuario</label>
                    <input class="form-control" type="text" name="Usuario" id="Usuario" placeholder="Seu Usuario">
                </div>

                <div class="form-group">
                    <label for="Senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                </div>