<div class="container-fluid">

    <div class="row">

        <div class="col-md-6" id="img-bg">

        </div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">

                <div class="col-md-10 ">
        
                    <h1 class="text-center">Cadastro</h1>
        
                    <div class="form-group">
                        <label for="Nome">Nome</label>
                        <input class="form-control" type="text" name="Nome" id="Nome" placeholder="Seu Nome">   
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input class="form-control" type="text" name="Email" id="Email" placeholder="Seu Email">   
                    </div>