<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" class="card-img-top" alt="Filme Django">
                <div class="card-body">
                    <h5 class="card-title text-center">Django Livre</h5>
                    <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Beatae ipsa deleniti alias quae quibusdam eligendi, blanditiis incidunt cum voluptate
                        cupiditate possimus unde iure consequuntur. Dicta quas unde voluptates similique earum!</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card h-100">
                <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" class="card-img-top" alt="Filme Django">
                <div class="card-body">
                    <h5 class="card-title text-center">Django Livre</h5>
                    <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Beatae ipsa deleniti alias quae quibusdam eligendi, blanditiis incidunt cum voluptate
                        cupiditate possimus unde iure consequuntur. Dicta quas unde voluptates similique earum!</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" class="card-img-top" alt="Filme Django">
                <div class="card-body">
                    <h5 class="card-title text-center">Django Livre</h5>
                    <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Beatae ipsa deleniti alias quae quibusdam eligendi, blanditiis incidunt cum voluptate
                        cupiditate possimus unde iure consequuntur. Dicta quas unde voluptates similique earum!</p>
                </div>
            </div>
        </div>

    </div>
</div>