<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card h-100 my-3">
                <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" class="card-img-top border-radius-detail" alt="Filme Django">
                <div class="card-body p-0">
                    <h5 class="card-title card-name">Nome 1</h5>
                    <p class="card-text card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, ullam consequatur dolorum voluptatem perspiciatis tenetur laudantium consequuntur ipsam doloribus, illum adipisci est reiciendis praesentium possimus repellat nobis quidem vero dolore.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card h-100 my-3">
                <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" class="card-img-top border-radius-detail" alt="Filme Django">
                <div class="card-body p-0">
                    <h5 class="card-title text-center card-name">Nome 2</h5>
                    <p class="card-text card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, sunt optio accusamus esse labore velit iste maxime necessitatibus ducimus tempora soluta natus beatae commodi ullam nemo rem perspiciatis a. Adipisci!</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100 my-3">
                <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" class="card-img-top border-radius-detail" alt="Filme Django">
                <div class="card-body p-0">
                    <h5 class="card-title text-center card-name">Nome 3</h5>
                    <p class="card-text card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis explicabo cum obcaecati nisi maiores voluptate aperiam doloribus quo dolores, laborum facilis molestiae fuga porro hic sunt aspernatur. Exercitationem, dolorem possimus.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100 my-3">
                <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" class="card-img-top border-radius-detail" alt="Filme Django">
                <div class="card-body p-0">
                    <h5 class="card-title text-center card-name">Nome 4</h5>
                    <p class="card-text card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illum, quis doloremque ea dolorum ratione voluptatem reprehenderit sapiente recusandae nesciunt accusamus quia voluptatum totam dolore, dolorem, quas natus. Assumenda, cum!</p>
                </div>
            </div>
        </div>

    </div>
</div>