.profile-picture{
    height: 250px;
    width: 250px;
}

.border-radius-detail{
    border-radius: 0 50px 0 0;
}

.card-name{
    background-color: #0C0C0D;
    color: #FFD700;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}